/* Estilos generales para todos los dispositivos */
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
    /* Imagen de fondo */
    background-image: url('../img/backgrounds/fondo.png');
    background-size: cover; /* Hace que la imagen de fondo cubra toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    
    margin: 0;
    padding: 0;
}

#inicio {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#inicio img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

form .custominp {
    border-radius: 20px;
    height: 2rem;
    width: 15rem;
    margin-left: 2%;
    border: 2px solid gray;
    padding: 10px;
}

.formulario {
    border: 2px solid white;
    border-radius: 12px;
    backdrop-filter: blur(10px);
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: #000000;
}

.nave {
    border-radius: 12px;
    width: 25vw;
    height: 15vh;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 15px 15px 10px gray;
    animation: slider 15s linear infinite;
}

.imgbn {
    filter: drop-shadow(1px 1px 20px blue);
}

@keyframes slider {
    0%{background-image: url('../img/backgrounds/marca1.png');}
    33%{background-image: url('../img/backgrounds/marca1.png');}
    34%{background-image: url('../img/backgrounds/marca2.png');}
    66%{background-image: url('../img/backgrounds/marca2.png');}
    67%{background-image: url('../img/backgrounds/marca3.png');}
    100%{background-image: url('../img/backgrounds/marca3.png');}
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        background-size: cover;
        background-position: center;
    }

    h1 {
        font-size: 40px;
    }

    .custominp {
        width: 12rem;
        height: 1.8rem;
    }

    .formulario {
        padding: 10px;
        margin: 0 auto;
        width: 90%;
    }

    .formulario img {
        width: 30vw;
    }

    .nave {
        width: 70vw;
        height: 20vh;
    }

    #inicio {
        height: 80vh;
    }

    #inicio img {
        height: auto;
    }

    .bienvenida img {
        width: 80vw;
    }

    .bienvenida {
        width: 90%;
    }
}

/* Media Queries para dispositivos muy pequeños (menos de 480px) */
@media (max-width: 480px) {
    body {
        font-size: 12px;
        background-size: cover;
        background-position: center;
    }

    h1 {
        font-size: 30px;
    }

    .custominp {
        width: 10rem;
        height: 1.6rem;
    }

    .formulario {
        padding: 5px;
        width: 100%;
    }

    .formulario img {
        width: 30vw;
    }

    .nave {
        width: 80vw;
        height: 15vh;
    }

    #inicio {
        height: 70vh;
    }

    #inicio img {
        width: 100%;
    }

    .bienvenida img {
        width: 80vw;
    }

    .bienvenida {
        width: 90%;
    }
}

/* Media Queries para dispositivos aún más pequeños (menos de 360px) */
@media (max-width: 360px) {
    body {
        font-size: 12px;
        background-size: cover;
        background-position: center;
    }

    h1 {
        font-size: 24px;
    }

    .custominp {
        width: 9rem;
        height: 1.4rem;
    }

    .formulario {
        padding: 5px;
        width: 100%;
    }

    .formulario img {
        width: 30vw;
    }

    .nave {
        width: 90vw;
        height: 12vh;
    }

    #inicio {
        height: 60vh;
    }

    #inicio img {
        width: 100%;
    }

    .bienvenida img {
        width: 80vw;
    }

    .bienvenida {
        width: 90%;
    }
}